/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Common Styles or Utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Top Header Styles */
header{
    padding-top: 80px;
}
.top-header{
    padding-left: 120px;   
    font-size: 24px;
    color: #3A3A3A;
}

/* Top Banner Styles */
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 120px;
}

.top-banner-left{
   flex: 1;
}

.top-banner-heading{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
}

.top-banner-text{
    font-weight: 600;
    color: #3A3A3A;
}

.top-banner-button{
    font-size: 16px;
    font-weight: 600;
    background-color: #E02C6D;
    border: none;
    color: aliceblue;
    padding: 10px 24px;
    border-radius: 41px;
}

.fas.fa-arrow-right{
padding-left: 15px;
}

.top-banner-right{
    flex: 1;
}


.top-banner-right img{
    margin-left: 100px;
}

/* Product Collection Styles */
.collection-title{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 80px;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 100px;
}

.product{
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px #00000026;
}

.fa-star, .fa-star-half-alt{
    color: #FB8200;
}

.product-info{
    font-weight: 500;
    color: #787885;
}

/* Footer Part */
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #0A0826;
    color: white;
}

.footer-head{
    font-size: 24px;
    font-weight: 700;
}

.footer-text{
    font-size: 16px;
    color: #D9DBE1;
}

/*--- Media Queries ---
--------------------- */


/* ----Tablet Devices----
----------------------- */