/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

/* Common Styles or Utilities */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Top Header Styles */
header{
    padding-top: 20px;
}
.top-header{
    padding-left: 120px;   
    font-size: 24px;
    color: #3A3A3A;
}

/* Top Banner Styles */
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 150px;
}

.top-banner-left{
    flex: 1;
}

.top-banner-heading{
    font-size: 52px;
    font-weight: 700;
    color: #3A3A3A;
    margin-bottom: 10px;
}

.top-banner-text{
    font-weight: 600;
    color: #3A3A3A;
}

.top-banner-button{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    background-color: #E02C6D;
    border: none;
    color: aliceblue;
    padding: 10px 24px;
    border-radius: 41px;
}

.fas.fa-arrow-right{
padding-left: 15px;
transition: .5s ease-in-out;
}

.top-banner-button:hover .fas.fa-arrow-right {
transform: translate(10px);
}

.top-banner-right{
    display: flex;
    justify-content: center;
    flex: 1;
}

.top-banner-right img{
    transition: 1.5s;
}

.top-banner-right img:hover{
transform: scale(1.05);
}

/* Product Collection Styles */
.collection-title{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 80px;
    padding-left: 300px;
    padding-right: 300px;
}

.product{
    width: 300px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px #00000026;
}

.fa-star, .fa-star-half-alt{
    color: #FB8200;
}

.product-info{
    font-weight: 500;
    color: #787885;
}

.pagination a{
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    padding-top: 30px;
    padding-right: 350px;
    margin-bottom: 80px;
    font-weight: bold;
    color: #E02C6D;
}

/* Bonus Section Styles */
.bonus-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 120px;
}

.bonus-section-left{
    display: flex;
    justify-content: center;
    flex: 1;
}

.bonus-section-left img{
    width: 70%;
}

.bonus-section-right{
    flex: 1;
}

.bonus-section-right div>h2{
    margin-top: 0;
}

.feedback-form input, textarea{
    font-family: inherit;
    font-size: inherit;
    font-size: 16px;
    margin-top: 15px;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 10px;
}

#submit{
    color: whitesmoke;
    background-color: #E02C6D;
    border: none;
    border-radius: 5px;
    padding: 5px 24px;
    border-radius: 41px;
}

/* Footer Part */
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #0A0826;
    color: white;
}

.footer-head{
    font-size: 24px;
    font-weight: 700;
}

.footer-text{
    font-size: 16px;
    color: #D9DBE1;
}

.social-icons{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 3%);
    justify-content: center;
}

/*-----------------------
--- Media Queries ---
--------------------- */
@media only screen and (max-width: 688px) {

.top-header{
        font-size: 16px;
        text-align: center;
        padding-left: 0;
    }
.top-banner{
flex-direction: column;
padding: 0;
}
.top-banner-left{
    order: 2;
    width: 100%;
}
.top-banner-right{
    order: 1;
    width: 100%;
}
.top-banner-right img{
    width: 60%;
}
.top-banner-heading{
    font-size: 28px;
    text-align: center;
    padding: 0 15px 0 15px;
}
.top-banner-text{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 0 30px 0 30px;
}
.top-banner-button-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-banner-button{
    font-size: 16px;
    font-weight: 500;
}
.fas.fa-arrow-right{
    font-size: 14px;
    }
.collection{
    row-gap: 20px;
    padding-left: 0px;
    padding-right: 00px;
    margin-bottom: 00px;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
   }
   .collection-title{
       padding-top: 40px;
       font-size: 16px;
       font-weight: 500;
   }

   .social-icons{
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 8%);
    justify-content: center;
}
}

/* ----Tablet Devices----
----------------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    
}